@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Noto+Sans+JP:wght@300&display=swap');

.message {
  width: calc(83.25%-60px);
  position: absolute;
  top: 124px;
  left: 16.75%;
  right: 0;
  bottom: 110px;
  overflow: auto;
}

.individual-message:hover {
  background-color: #e7e7e7;
}

.individual-message {
  font-family:Noto Sans JP, sans-serif;
  padding-right: 60px;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pinned-message {
  background-color: #ffeda0; /* Quick visual test */
}

.sender-name {
  font-family: Cabin, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.time-stamp {
  font-size: 0.9em;
  padding-left: 5px;
  color: rgb(104, 104, 104);
}

.message-content {
  margin: 0;
  font-size: 16px;
  padding: 4px;
}

.name-time {
  margin-bottom: 0;
  padding-top: 10px;
}

.date-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.date-separator hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ddd;
}

.date-separator span {
  margin: 0 10px;
  color: #888;
}

.date-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.date-separator hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ddd;
}

.date-separator span {
  margin: 0 10px;
  color: #888;
}

.dot-button {
  border: none;
  background-color: transparent;
  visibility: hidden;
  padding-left: 20px;
}

.dot-button .btn-secondary {
  background-color: transparent;
  border-color: transparent;
}

.dot-button .btn-secondary:active {
  background-color: transparent;
  border-color: transparent;
}

.dropdown-toggle:after {
  display: none;
}

.dots {
  height: 14px;
  width: 14px;
}

.individual-message:hover .dot-button {
  visibility: visible;
}

.delete-message {
  color: #ec1c2e;
}

.delete-message:hover {
  background-color: #ec1c2e;
  color: white;
}

.pin-message:hover {
  background-color: #ec1c2e;
  color: white;
}

@media only screen and (max-width: 653px) {
  .message {
    left: 110px;
    padding-right: 0;
  }
  .time-stamp {
    font-size: 0.7em;
  }
  .lastName{
    display:none;
  }
  .individual-message {
    padding-right: 30px;
  }
  .message.collapsed {
    left: 0px;
    width:100%
    /* Additional styles for collapsed state */
}
.message.collapsed .lastName{
  display:inline;
}
}
