@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Noto+Sans+JP:wght@300&display=swap');

.input {
    width: calc(83.25%-60px);
    position: absolute;
    top: calc(100vh - 110px);
    left: 16.75%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}


.input textarea {
    font-family: Noto Sans JP, sans-serif;
    width: 90%;
    height: 50px; 
    resize: none; 
    overflow: auto; 
    border-radius: 9px;
    border: 1px solid #cccccc;
    padding-left: 10px;
    padding-top:13px;
    
}

.button {
    width: 50px; 
    height: 50px;
    border-radius: 9px;
    font-weight: bold;
    background-color:#ec1c2e !important;
    border:1px solid #d4192a !important;
}

.button:hover{
    background-color:#d4192a  !important;
    border: 1px solid #bd1626  !important;
}

.button:active{
    background-color:#bd1626 !important;
    border: 1px solid #bd1626 !important;
}

.sendImg{
    height:auto;
    width:20px;
}

@media only screen and (max-width: 653px) {
    .input{
        left:110px;
    }
}
