.input {
    width: 83.25%;
    position: absolute;
    top: calc(100vh - 110px);
    left: 16.75%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}


.input textarea {
    width: 90%; 
    height: 70px; 
    resize: none; 
    overflow: auto; 
    border-radius: 9px;
    border: 1px solid #000;
    padding-left: 10px;
    padding-top: 20px;
}

.button {
    width: 8.5%; 
    height: 70px;
    border-radius: 9px;
    font-weight: bold;
}