.sidebar {
    width: 240px;
    background-color: #2c2f33;
    color: #ffffff;
    padding: 20px;
    flex-grow: 1;
}

.sidebar h2 {
    color: #ffffff;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 23px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 5px 0;
}

.sidebar {
    color: #ffffff;
    text-decoration: none;
}

.channel {
    text-transform: lowercase;
}

.channel:first-child {
    margin-top: 30px;
}

.channel:not(.selected-channel) .channel-row:hover {
    background-color: #898989;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.read {
    color: gray;
}

.unread {
    color: white;
    font-weight: bold;
}

.channel-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    font-size: 15px;
    padding: 1px 10px; 
}

.delete-button {
    background-color: #2c2f33; 
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.x-logo{
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(132deg) brightness(106%) contrast(101%);;
    opacity: 0;
    
}

.channel-row:hover .x-logo {
    opacity: 1;
}

.channel:not(.selected-channel) .channel-row:hover .delete-button {
    background-color: #898989;
}

.channel:not(.selected-channel) .channel-row:hover .read {
    color: white;
}

.selected-channel {
    background-color: rgb(48, 97, 222);
    color: white;
    border-radius: 8px;
    padding: 1px 10px; 
    width: 200px;
}

.selected-channel .delete-button {
    background-color: rgb(48, 97, 222);
}

.selected-channel .read {
    color: white;
}

