.sidebar {
    width: 240px;
    background-color: #2c2f33;
    color: #ffffff;
    padding: 20px;
    flex-grow: 1;
}

.sidebar h2 {
    color: #ffffff;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 23px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
}

.channel {
    text-transform: lowercase;
}

.channel:first-child {
    margin-top: 30px;
}

.channel:hover a {
    background-color: #898989;
    color: white;
    border-radius: 5px;
    width: 150px;
}

.channel a {
    display: block;
    padding: 5px 10px; 
}

a.read {
    color: gray;
}

.unread {
    color: white;
    font-weight: bold;
}

.channel-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
}

.delete-button {
    background-color: #2c2f33; 
    color: #ffffff; 
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #898989; 
}