@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Noto+Sans+JP:wght@300&display=swap');

.sidebar {
    font-family:Cabin, sans-serif;
    width: 16.75%;
    background-color: #2c2f33;
    color: #ffffff;
    position: fixed;
    display:flex;
    flex-direction: column;
    border-top: 1px solid #bd1626 ;
    top: 65px;
    left: 0;
    height: calc(100vh - 65px);
    text-decoration: none;
}
.hash{
    font-family:'Gill Sans', sans-serif;
}
.mobileBtn{
    display:none;
}

.channel-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 124px);
}

.sidebar h2 {
    color: #ffffff;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 23px;
    margin-bottom:0;
    margin-left:10px;
}

.sidebar ul {
    list-style: none;
    padding: 1px;
}

.sidebar li {
    padding: 0px;
}

.channel {
    text-transform: lowercase;
}

.channel:first-child {
    margin-top: 20px;
}

.channel:not(.selected-channel) .channel-row:hover {
    background-color: #232629;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.read {
    color: gray;
}

.unread {
    color: white;
    font-weight: bold;
}

.channel-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    padding: 1px 10px; 
    height:35px;
}

.delete-button {
    background-color: #2c2f33; 
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.x-logo{
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(132deg) brightness(106%) contrast(101%);;
    opacity: 0;
    
}

.channel-row:hover .x-logo {
    opacity: 1;
}

.channel:not(.selected-channel) .channel-row:hover .delete-button {
    background-color: #232629;
}

.channel:not(.selected-channel) .channel-row:hover .read {
    color: white;
}
.boardName{
    height:59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom:1px solid #1a1c1f;
}

.selected-channel {
    background-color: #ec1c2e;
    color: white;
    border-radius: 8px;
    padding: 1px 10px; 
    width: 100%;
}

.selected-channel .delete-button {
    background-color: #ec1c2e;
}

.selected-channel .read {
    color: white;
}

.add-button {
    margin-top: 10px;
    align-self: center;
    font-family:Cabin, sans-serif;
    font-weight:600;
    background-color:#ec1c2e !important;
    border:1px solid #d4192a !important;
}

.add-button:hover {
    background-color:#d4192a  !important;
    border: 1px solid #bd1626  !important;
}

.add-button:active {
    background-color:#bd1626 !important;
    border: 1px solid #bd1626 !important;
}

.channelModal{
    padding-bottom:5px;
}
.headerModal{
    background-color: #ec1c2e;
    color:white;
    font-family:Cabin, sans-serif;
}
.footerModal2{
    border-top:1px solid #e0e0e0 !important;
    display:flex;
    flex-direction: row;
    justify-content:center;
}
.dataText{
    font-weight: 300;
    font-size:20px;
}

.titleModal{
    font-weight:700 !important;
}

label{    
    color: #616161;
    font-family:Cabin, sans-serif;
    font-weight:600 !important;
    font-size:20px;
}

.modalInput{
    margin-top:10px;

}
.bodyModal{
    font-family:Cabin, sans-serif;
    text-align: center;
    font-size:22px;
    font-weight:600;
    margin-bottom:5px;
}

.submitChannel{
    width:300px;
    height:50px;
    font-family:Cabin, sans-serif;
    font-weight:600;
    font-size:25px;
    background-color:#ec1c2e;
}
.usersIcon{
    display:none;
}

.managemembers-button {
    margin-top: 10px;
    font-family:Cabin, sans-serif;
    font-weight:600;
    background-color:#ec1c2e !important;
    border:1px solid #d4192a !important;
}

.managemembers-button:hover {
    background-color:#d4192a  !important;
    border: 1px solid #bd1626  !important;
}

.managemembers-button:active {
    background-color:#bd1626 !important;
    border: 1px solid #bd1626 !important;
}

.sidebar.collapsed {
    display:none !important;
    background-color: transparent !important; 
}

.error-message{
    text-align: center;
    font-family:Cabin, sans-serif;
    font-weight:600;
    color:#ec1c2e
}


@media only screen and (max-width: 850px) {
    .boardName {
        display:None
    }

    .channel{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 0px;
    }


    .wideScreenBtn{
        display:none
    }
    .mobileBtn{
        display:block;
        position:absolute;
        margin-left:2.5px;
        margin-top:-17.5px;
        
    }

    .add-button {
        display:flex;
        align-self: center;
        font-family:Cabin, sans-serif;
        font-weight:600;
        font-size:40px;
        width: 40px;
        height:40px;
        border-radius:100px;
        background-color:#ec1c2e !important;
        border:1px solid #d4192a !important;
    }

    .managemembers-button {
        display:flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        font-family:Cabin, sans-serif;
        font-weight:600;
        font-size:40px;
        
        width: 40px;
        height:40px;
        border-radius:100px;
        background-color:#ec1c2e !important;
        border:1px solid #d4192a !important;
    }
    .usersIcon{
        display:inline !important;
        width: 25px;
    }

}
@media only screen and (max-width: 653px) {
    .sidebar{
        width:110px;
    }

}



