.topbar {
    background-color: rgb(35, 35, 35);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar input[type="search"] {
    width: 600px; 
    height: 30px; 
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #696969;
  }

.topbar input[type="search"]::placeholder {
    color: white;
    font-weight:bolder;
    text-align: center;
}

.search-bar input[type="search"]:focus {
    background-color: #f0f0f0; 
    color: #000000; 
}

.search-bar input[type="search"]:focus::placeholder {
    color: #000000; 
}

.switch-button {
    font-weight: bold;
}

.switch-button, .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}