@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Noto+Sans+JP:wght@300&display=swap');

.userBoard{
    width:200px;
    height:100px;
    font-family: Cabin, sans-serif;
    background-color: #E8E8E8;
    border:1px solid lightgrey;
    color:black;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-weight:600;
    font-size:20px;
    
}

.userBoard:hover{
    background-color: lightgrey;
    border:1px solid grey;
}
.userBoard:active{
    background-color: grey !important;
    border:1px solid grey !important;
}

.birdBoard{
    height:auto;
    width:60px;
}

.crownIcon{
    height:auto;
    width:25px;
    float:left;
    position:absolute;
    margin-left:-145px;
    margin-top:-50px;

}

.DeleteBoardButton{
    position:absolute;
    margin-top:-50px;
    margin-left:100px;
    opacity:0;
}

.UserBoardButton:hover .DeleteBoardButton{
    opacity:1;
}

@media only screen and (max-width: 640px) {
    .userBoard{
        margin-left:0px;
        padding-left:0px;
        width:500px;
        height:100px;
        display: flex;
        flex-direction: column;
        align-items:normal;
        justify-content: center;
        font-size:35px;
    }
    .DeleteBoardButton{
        margin-left:400px;
    }
    .crownIcon{
        position:absolute;
        height:auto;
        width:35px;
        margin-left:425px;
        margin-top:-50px;
    }
    .birdBoard{
        position:absolute;
        margin-left:10px;
        height:auto;
        width:100px;
    }

  }

  @media only screen and (max-width: 550px) {
    .userBoard{
        margin-left:0px;
        padding-left:0px;
        width:400px;
        height:100px;
        display: flex;
        flex-direction: column;
        align-items:normal;
        justify-content: center;
        font-size:30px;
    }
    .DeleteBoardButton{
        margin-left:300px;
    }
    .crownIcon{
        position:absolute;
        height:auto;
        width:35px;
        margin-left:340px;
        margin-top:-50px;
    }
    .birdBoard{
        margin-left:10px;
        height:auto;
        width:45px;
        margin-top:-55px;
    }

  }
